<!-- Clients Aside -->
  <section id="clients">
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Clients</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <a href="https://www.linkedin.com/company/innodem-neurosciences/">
                        <img src="img/logos/innodem.jpeg" class="img-responsive img-centered" alt="Innodem Neurosciences">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://www.linkedin.com/company/lexalytics/">
                        <img src="img/logos/lexalytics.jpeg" class="img-responsive img-centered" alt="Lexalytics">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://www.linkedin.com/company/logient/">
                        <img src="img/logos/logient.jpeg" class="img-responsive img-centered" alt="Logient">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://www.linkedin.com/company/match-com/">
                        <img src="img/logos/matchcom.jpeg" class="img-responsive img-centered" alt="Match.com">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://www.linkedin.com/company/mdfinancialmanagement-gestionfinancieremd/">
                        <img src="img/logos/mdm.jpeg" class="img-responsive img-centered" alt="MD Financial Management">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://www.linkedin.com/company/pelcro/">
                        <img src="img/logos/pelcro.jpeg" class="img-responsive img-centered" alt="Pelcro">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://www.linkedin.com/company/semantria/">
                        <img src="img/logos/semantria.jpeg" class="img-responsive img-centered" alt="Semantria">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://www.linkedin.com/company/semeonanalytics/">
                        <img src="img/logos/semeon.jpeg" class="img-responsive img-centered" alt="Semeon Analytics">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://www.linkedin.com/company/tc-media/">
                        <img src="img/logos/tcmedia.jpeg" class="img-responsive img-centered" alt="TC Media">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://www.linkedin.com/company/wirkn/">
                        <img src="img/logos/wirkn.jpeg" class="img-responsive img-centered" alt="Wirkn">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://www.linkedin.com/company/sourceknowledge-com/">
                        <img src="img/logos/sourceknowledge.jpeg" class="img-responsive img-centered" alt="SourceKnowledge">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://www.linkedin.com/company/weareinmoment/">
                        <img src="img/logos/inmoment.jpeg" class="img-responsive img-centered" alt="InMoment">
                    </a>
                </div>
            </div>
        </div>
    </aside>
  </section>
