<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Two decades in software engineering. The only way we know is lean.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Software architecture</h4>
                    <p class="text-muted">Build a strong foundation for your software projects, and aim for the long term.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-server fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">AI kick-start</h4>
                    <p class="text-muted">AI is all the buzz. Wanna give it a try on a budget? We can make it happen.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-thumb-tack fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">DevOps</h4>
                    <p class="text-muted">Automate your process so you never have to worry about it again.</p>
                </div>
            </div>
        </div>
    </section>
